<form lass="register"
    data-request="onRegister">
    <p class="octocart-FormRow octocart-FormRow--wide form-row form-row-wide">
        <label for="registerName">Full Name<span class="required">*</span></label>
        <input name="name"
               type="text"
               class="octocart-Input octocart-Input--text input-text"
               id="registerName"
               placeholder="Enter your full name" />
    </p>
    <p class="octocart-FormRow octocart-FormRow--wide form-row form-row-wide">
        <label for="registerEmail">Email <span class="required">*</span></label>
        <input name="email"
               type="email"
               class="octocart-Input octocart-Input--text input-text"
               id="registerEmail"
               placeholder="Enter your email" />
    </p>
    <p class="octocart-FormRow octocart-FormRow--wide form-row form-row-wide">
        <label for="password">Password <span class="required">*</span></label>
        <input name="password"
               type="password"
               class="octocart-Input octocart-Input--text input-text"
               id="registerPassword"
               placeholder="Choose a password" />
    </p>

    <button type="submit" class="octocart-Button button">Register</button>
</form>
