<form
    data-request="onRegister">
    <div class="form-group">
        <label for="registerName">Name</label>
        <input
            name="name"
            type="text"
            class="form-control"
            id="registerName"
            placeholder="Jane Smith" />
    </div>

    <div class="form-group">
        <label for="registerEmail">Email</label>
        <input
            name="email"
            type="email"
            class="form-control"
            id="registerEmail"
            placeholder="example@gmail.com" />
    </div>

    <div class="form-group">
        <label for="registerPassword">Password</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="registerPassword"
            placeholder="******" />
    </div>

    <button type="submit" class="btn btn-success">Register</button>
    <span style="margin: 0 20px;">or</span>
    <a href="/login" class="btn btn-default">Sign In</a>
</form>